body{
  font-family: sans-serif;
}

.container-fluid{
background-image: url(../img/sfondo.jpg);
background-size: cover;
background-position: center;
height: 700px;
position: relative;
}

/* navbar */
nav{
  height: 80px;
  line-height: 80px;
  background-color: white;
}

.header_logo{
  font-weight: bold;
}

.header_menu .list_inline{
  text-align: right;
}

header a{
  text-decoration: none;
  color: grey;
  padding: 0 10px;
}

.list_inline li{
  list-style: none;
  display: inline-block;
}

.header_menu, .header_languages{
  font-size: 0.55rem;
  font-weight: bold;
}

.header_languages li:not(:last-child) a{
  border-right: 1px solid grey;
}

/* hero text */
.hero_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero_text h1{
  font-size: 50px;
  padding-bottom: 30px;
}

.hero_text img{
  width: 150px;
  height: auto;
}

/* main */

/* prima sezione */
.card{
  background-color: #FAFAFA;
  text-align: center;
  margin: 50px 0;
  padding-top: 80px;
  line-height: 50px;
}

.go{
  padding-right: 20px
}

.bike{
  padding-left: 20px;
}

.card h2{
  font-size: 35px;
  font-weight: normal;
}

.card p{
  font-size: 25px;
}

.card img{
  width: 100%;
}

.card a{
  text-decoration: none;
}

/* seconda sezione */
section .container-fluid{
  background-image: url(../img/HelMain.jpg);
}

section .col-lg-4 img{
  width: 250px;
  height: auto;
  position: relative;
  bottom: 300px;
}

.tx_cnt{
  text-align: center;
}

.pl_150{
  font-size: 25px;
  font-weight: bold;
  padding-left: 266px;
}

.pr_150{
  padding-right: 150px;
}

.pl_150, .pr_150{
  padding-top: 100px;
}
