body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
}
.container-fluid{
  background-image: url(../img/sfondo.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;
}

/* navbar */
nav{
  height: 80px;
  line-height: 80px;
  background-color: white;
}

.header_logo{
  font-weight: bold;
}

.header_menu .list_inline{
  text-align: right;
}

header a{
  color: grey;
  padding: 0 10px;
}

.list_inline li{
  list-style: none;
  display: inline-block;
}

.header_menu, .header_languages{
  font-size: 0.55rem;
  font-weight: bold;
}

.header_languages li:not(:last-child) a{
  border-right: 1px solid grey;
}

/* hero text */
.hero_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero_text h1{
  font-size: 50px;
  padding-bottom: 30px;
}

.apple_b, .googleplay_b{
  height: 50px;
  width:150px;
  display: inline-block;
  margin: 30px 0;
  cursor: pointer;
}

.apple_b{
  background-image: url(../img/apple.png);
  background-size: cover;
  background-position: center;
}
.googleplay_b{
  background-image: url(../img/googleplay.png);
  background-size: cover;
  background-position: center;
}


/* main */

/* prima sezione */
.card{
  background-color: #FAFAFA;
  text-align: center;
  margin: 50px 0;
  padding-top: 80px;
  line-height: 50px;
}

.go{
  padding-right: 20px
}

.bike{
  padding-left: 20px;
}

.card h2{
  font-size: 35px;
  font-weight: normal;
}

.card p{
  font-size: 25px;
}

.card img{
  width: 100%;
}

/* seconda sezione */
.seconda .container-fluid{
  background-image: url(../img/HelMain.jpg);
}
.seconda .row{
  position: relative;
}
.seconda img{
  width: 250px;
  height: auto;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tx_cnt{
  text-align: center;
}

.col-lg-4{
  padding: 100px 0;
}

.pl_150{
  font-size: 25px;
  font-weight: bold;
  padding-left: 251px;
}

/* terza sezione */
.terza{
  height: 1020px;
}
.terza .container{
  height: 500px;
  background-image: url(../img/arton.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}

.terza .row, .terza .col-lg-6{
  height: 100%;
}
.terza .text_3sez{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 100px;
}

.text_3sez h2{
  font-size: 40px;
}

.text_3sez p, .text_3sez a{
  font-size: 20px;
  margin: 10px 0;
}

.text_3sez a{
  color: white;
}

.sfondo_left, .sfondo_right{
  margin: 20px 0;
}

.sfondo_left{
  height: 100%;
  background-image: url(../img/dek.jpg);
  background-size: cover;
  margin-right: 10px;
}
.sfondo_right{
  height: 100%;
  background-image: url(../img/tramonto-roma.jpg);
  background-size: cover;
  margin-left: 10px;
}

.terza h3{
  font-size: 30px;
}

.sfondo_left h3, .sfondo_left div, .sfondo_right h3, .sfondo_right div{
  padding: 10px 0;
}

/* quarta sezione */

.fotografie{
  height: 300px;
  background-image: url(../img/fotografie.webp);
  margin: 20px 0;

  position: relative;
}

.text_4sez{
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
}

.pad{
  margin-left: 10px;
}

/* footer */

.footer_content{
  background-color: black;
  color: white;
  line-height: 32px;
}

footer .row:first-child{
  padding-top: 50px;
  margin-bottom: 20px;
}

.footer_content li{
  list-style: none;
  color: grey;
}

.hr{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 30px 0;
}

.badge{
  text-align: center;
}

.apple, .googleplay{
  height: 30px;
  width:100px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: inline-block;
  margin: 30px 0;
  cursor: pointer;
}

.apple{
  background-image: url(../img/apple.png);
  background-size: cover;
  background-position: center;
}
.googleplay{
  background-image: url(../img/googleplay.png);
  background-size: cover;
  background-position: center;
}

/* Media Query md */
@media screen and (min-width: 769px) and (max-width: 1200px) {

  .go{
    padding-right: 0;
  }

  .bike{
    padding-left: 0;
  }

  .sfondo_left{
    margin-right: 0;
  }
  .sfondo_right{
    margin-top: 40px;
    margin-left: 0;
  }

  .terza .text_3sez{
    padding: 0;
  }

  .fotografie{
    margin-top: 60px;
  }

  .pl_150{
    padding-left: 185px;
}
  }
  footer{
    text-align: center;
  }

  /* small Query sm */
  @media screen and (max-width: 768px) {

    .go{
      padding-right: 0;
    }

    .bike{
      padding-left: 0;
    }

    .sfondo_left{
      margin-right: 0;
      background-position: center;
    }

    .sfondo_right{
      margin-top: 40px;
      margin-left: 0;
    }

    .terza .text_3sez{
      padding: 0;
    }

    .fotografie{
      margin-top: 60px;
    }

    .pl_150{
      padding-left: 185px;

    }
    footer{
      text-align: center;
    }

    .seconda .col-sm-12{
      position: relative;
    }

    .col-lg-4{
      padding: 35px 0;
    }

    .seconda img{
      width: 100px;
      height: auto;
      position: absolute;
      top: -75px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #move{
      position: absolute;
      bottom:-125%;
      width: 100%;
      text-align: center;
    }

    .center{
      text-align: center;
    }
